Package: ws.hbang.typestatusmac
Name: TypeStatus
Version: 1.0.1
Architecture: darwin-amd64
Description: iMessage typing/read indicators in menu bar
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Support: https://www.hbang.ws/faq/
Section: Menu Bar
