Package: ws.hbang.typestatusmac
Name: TypeStatus
Depends: firmware (>= 10.8), com.ex.substitute
Version: 1.0
Architecture: darwin-amd64
Description: iMessage typing/read indicators in menu bar
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Support: https://www.hbang.ws/faq
Section: Tweaks
