<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>TypeStatus</string>
	<key>CFBundleIdentifier</key>
	<string>ws.hbang.typestatus.mac</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TypeStatus</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.8</string>
	<key>PSFilters</key>
	<dict>
		<key>Bundles</key>
		<array>
			<string>com.apple.iChat</string>
		</array>
	</dict>
</dict>
</plist>
